@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #011C40;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: #011C40;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 72.5rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header {
  background: url("../img/header-bg.jpg") center/cover no-repeat;
  color: #F9FBFD;
  position: relative;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin: 35px 0;
}
.header__main {
  display: flex;
  flex-direction: column;
  padding: 175px 95px;
}
@media (max-width: 61.99875em) {
  .header__main {
    padding: 238px 0;
  }
}
.header__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 1.22;
  margin: 0 0 30px 0;
}
.header__label {
  font-size: 20px;
  line-height: 1.2;
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 47.99875em) {
  .menu__list {
    display: none;
  }
}
.menu__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  border-bottom: 2px solid transparent;
  transition: all 0.5s ease;
}
.menu__item:not(:last-child) {
  margin-right: 33px;
}
.menu__item:hover {
  border-bottom: 2px solid #F9FBFD;
}
.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #F9FBFD;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.main .travel {
  padding: 120px 0;
}

.travel__body {
  display: flex;
  align-items: center;
}
@media (max-width: 650px) {
  .travel__body {
    display: block;
  }
}

.travel__content {
  align-items: center;
  flex: 0 1 512px;
  margin: 0 88px 0 0;
}
@media (max-width: 650px) {
  .travel__content {
    margin: 0 0 20px 0;
  }
}

.travel__title {
  margin: 0 0 40px 0;
}

.travel__text {
  font-size: 16px;
  line-height: 150%;
}

.travel__images {
  flex: 0 1 560px;
}

.travel__img {
  padding-bottom: 53.75%;
}

.advantages {
  background: url("../img/advantages-bg.jpg") center/cover no-repeat;
  padding: 120px 0;
}

.advantages__title {
  text-align: center;
  margin: 0 0 60px 0;
}

.advantages__items {
  display: flex;
  margin: 0 -20px;
  row-gap: 40px;
}
@media (max-width: 61.99875em) {
  .advantages__items {
    flex-wrap: wrap;
  }
}

.advantages__item {
  padding: 0 20px;
}

.item-advantages__body {
  background: #F9FBFD;
  padding: 30px 42px 50px 30px;
  height: 100%;
  transition: all 0.3s ease;
}
.item-advantages__body:hover {
  background: #d6d8da;
}

.item-advantages {
  display: flex;
  flex-direction: column;
  flex: 0 1 33.333%;
}
@media (max-width: 61.99875em) {
  .item-advantages {
    flex: 0 1 50%;
  }
}
@media (max-width: 600px) {
  .item-advantages {
    flex: 0 1 100%;
  }
}

.item-advantages__images {
  margin: 0 0 25px 0;
}

.item-advantages__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin: 0 0 20px 0;
}

.item-advantages__text {
  font-size: 14px;
  line-height: 140%;
  flex: 1 1 auto;
}

.kruiz {
  padding: 120px 0;
}

.kruiz__title {
  text-align: center;
  margin: 0 0 60px 0;
}

.kruiz__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  row-gap: 30px;
}

.kruiz__item {
  padding: 0 15px;
  overflow: hidden;
}

.item-kruiz {
  flex: 0 1 25%;
}
@media (max-width: 61.99875em) {
  .item-kruiz {
    flex: 0 1 33.333%;
  }
}
@media (max-width: 47.99875em) {
  .item-kruiz {
    flex: 0 1 50%;
  }
}
@media (max-width: 520px) {
  .item-kruiz {
    flex: 0 1 100%;
  }
}

.item-kruiz__body {
  position: relative;
}
.item-kruiz__body:hover .kruiz-card {
  visibility: visible;
  top: 0;
  left: 0;
}

.item-kruiz__img {
  padding: 0 0 148.46% 0;
}

.item-kruiz__title {
  position: absolute;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #F9FBFD;
  left: 30px;
  bottom: 30px;
}

.kruiz-card {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  padding: 0 0 148.4% 0;
  position: absolute;
  top: -100%;
  left: 0;
  z-index: 5;
  padding: 25px 25px;
  color: #F9FBFD;
  width: 100%;
  height: 100%;
  background: #011C40;
  box-shadow: 0px 4px 35px rgba(1, 28, 64, 0.15);
  transition: all 0.7s ease;
}

.kruiz-card__content {
  flex: 1 1 auto;
}

.kruiz-card__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin: 0 0 15px 0;
}
@media (max-width: 1150px) {
  .kruiz-card__title {
    margin: 0 0 10px 0;
  }
}
@media (max-width: 520px) {
  .kruiz-card__title {
    font-size: 24px;
  }
}

.kruiz-card__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  margin: 0 0 5px 0;
}
@media (max-width: 1150px) {
  .kruiz-card__name {
    font-size: 12px;
  }
}
@media (max-width: 992px) {
  .kruiz-card__name {
    font-size: 20px;
  }
}
@media (max-width: 850px) {
  .kruiz-card__name {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .kruiz-card__name {
    font-size: 20px;
  }
}
@media (max-width: 570px) {
  .kruiz-card__name {
    font-size: 14px;
  }
}
@media (max-width: 520px) {
  .kruiz-card__name {
    font-size: 20px;
  }
}

.kruiz-card__text {
  font-size: 14px;
  line-height: 140%;
  color: #D8D8D9;
  margin: 0 0 10px 0;
}
@media (max-width: 1150px) {
  .kruiz-card__text {
    margin: 0 0 5px 0;
    font-size: 12px;
  }
}
@media (max-width: 520px) {
  .kruiz-card__text {
    margin: 0 0 15px 0;
    font-size: 20px;
  }
}

.kruiz-card__button {
  background: #F9FBFD;
}

.kruiz-card__btn {
  text-align: center;
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #011C40;
  text-align: center;
  padding: 14px;
}

.booking {
  background: url("../img/booking-bg.jpg") center/cover no-repeat;
  padding: 50px 0;
}

.booking__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.booking__content {
  display: flex;
  flex-direction: column;
  flex: 0 1 493px;
  row-gap: 30px;
  margin-left: 60px;
}

.booking__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
}

.booking__text {
  font-size: 18px;
  line-height: 150%;
}

.booking__form {
  display: flex;
  flex-direction: column;
}

.form-booking__body {
  padding: 50px;
  color: #F9FBFD;
  margin-right: 60px;
  max-width: 403px;
  background: #011C40;
  box-shadow: 0px 4px 45px rgba(1, 28, 64, 0.15);
}

.form-booking__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 35px;
}

.form__line {
  margin-bottom: 20px;
}
.form__line input {
  width: 100%;
  height: 43px;
  padding: 16px;
  background: #F9FBFD;
}
.form__checkbox {
  margin-bottom: 30px;
  align-items: center;
  display: inline-flex;
}
.form__checkbox label {
  font-size: 10px;
  line-height: 130%;
  color: #F9FBFD;
  margin-left: 5px;
}

.form-booking__button {
  background: #F9FBFD;
  display: block;
  width: 100%;
  text-align: center;
}

.form-booking__btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #011C40;
  padding: 15px;
}

.map {
  padding: 120px 0;
}

.map__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 100px;
}

.map__images {
  flex: 0 1 560px;
}

.map__content {
  flex: 0 1 500px;
}

.map__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin: 0 0 45px 0;
}

.map__local {
  font-size: 16px;
  line-height: 150%;
  margin: 0 0 33px 0;
  display: flex;
}
.map__local::before {
  content: "";
  background: url("../img/local.svg") no-repeat;
  width: 18px;
  height: 22px;
  margin: 0 10px 0 0;
  display: inline-flex;
  left: 0;
  top: 0px;
}

.map__phone {
  font-size: 16px;
  line-height: 150%;
  display: flex;
}
.map__phone::before {
  content: "";
  background: url("../img/phone.svg") no-repeat;
  width: 18px;
  height: 22px;
  margin: 0 10px 0 0;
  display: inline-flex;
  left: 0;
  top: 0px;
}

.footer {
  background: #011C40;
  padding: 50px 0;
}

.footer__body {
  display: flex;
  align-items: center;
}

.footer__logo {
  margin: 0 40px 0 0;
}

.footer__menu {
  margin-right: auto;
}

.menu__list {
  margin: 0 0 0 20px;
}

.menu__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #F9FBFD;
}

.icon__list {
  display: flex;
  align-items: center;
  gap: 33px;
}
